[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=SpriteLoader
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Sprite Loader
Comment=Loads animated sprites into Krita.